html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.first{
  display: flex;
  justify-content: space-around;
  /* height: 600px; */
}
.right nav {
	text-align: center;
	margin-top: 50px;
	font-family: 'Poppins', sans-serif;
}
.right nav ul a {
	margin-right: 14px;
}
.right #navbar .moreme {
	background-color: white;
	padding: 8px 20px;
	color: red;
	border-bottom-right-radius: 40px;
}
.left{
  background-color: white;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right{
  background-color: crimson;
  width: 55%;
}
.picture img{
margin-left: -250px;
height: 600px;
margin-top: 100px;
}
  .third {
    display: flex;
    justify-content: space-around;
    padding-bottom: 130px;
}
.wht{
	color: #633295;
	font-size: 40px;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	padding: 150px 0px 20px 0px;
	font-weight: bold;
}
.third i{
	font-size: 80px;
	color: red;
}
.icons{
	color: slateblue;
	font-size: 30px;
}
.logo{
	margin-left: 200px;
	margin-top: 25px;
}
.textie{
	color: darkslategray;
	font-family: 'Poppins', sans-serif;
}
.hello{
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	color: #5b41d0;
	font-weight: bold;
}
h1{
	font-size: 40px;
	color: crimson;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.heading{
    width: 388px;
	margin-bottom: 230px;

    margin-left: 150px;
}
.second{
  display: flex;
	background-color: rgba(253, 245, 230, 0.883);
	justify-content: space-between;
		border-bottom-right-radius: 30%;
		height: 400px;
		padding-bottom: 25px;
}
.cv-work{
	position: absolute;
	top: 20px;
	left: 150px;
	margin-top: 75px;
}
.cv{
	width: 47%;
	background-color:rgba(255, 228, 225, 0.52);
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	font-weight: bold;
	position: relative;
}
.para1{
	width: 55%;
	padding: 15px;
}
.paragrah{
	font-size: 12px;
	color: grey;
	font-family: 'Poppins', sans-serif;
	width: 67%;
	margin-top: 85px;
	padding-bottom: 30px;
	line-height: 1.6;
}
h4{
	font-size: 20px;
	font-weight: bold;
	color: #6b31a5;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 10px;
}
.btn{
	padding: 9px;
    border-bottom-right-radius: 19px;
    border-top-left-radius: 19px;
	background-color: rgba(246,54,67,0.4);
	cursor: pointer;
}
.btn i {
	background-color: red;
    padding: 6px;
    border-radius: 100%;
    color: white;
}
.third p{
	font-size: 12px;
	color: rgba(128, 128, 128, 0.883);
}
.third{
	m-top: 30px;
}
h3{
	color: #633295;
	font-size: 40px;
	font-family: 'Francois One', sans-serif;
}
.cv-work h3 span{
	display: block;
	}
	.cv-work h3 .my{
		margin-bottom: 12px;
	}
	.fourth-part{
		background-color: #f61e31;
		height: 300px;
		border-top-left-radius: 290px;
		position: relative;
		width: 100%;
	}
	.fourth-part h5{
		font-size: 40px;
		font-weight: bold;
		color: #fff;
	 font-family: 'Francois One', sans-serif;
	position: absolute;
	top: 30%;
	left: 15%;
	}
.projects{
	 display: flex;
	 justify-content: center;
	 transform: translateY(-120px);
}
.projects img{
	height: 280px;
	width: 310px;
	margin-right: 15px;
}
.work-with-me{
	background-color: red;
	color: red;
}
.last-part{
	height: 300px;
	background-color: #5b41d0;
	text-align: center;
	border-bottom-right-radius: 290px;
}
.last-part h2{
	font-size: 30px;
	color: #fff;
	padding-top: 60px;
	font-family: 'Francois One', sans-serif;
	font-weight: bold;
}
.last-part p{
	color: rgba(255, 255, 255, 0.582);
	font-family: 'Poppins', sans-serif;
}
.btn1{
	margin-top: 60px;
	padding: 5px 20px;
    border-bottom-right-radius: 19px;
	border-top-left-radius: 19px;
	background-color: #4a30beb4;
	border: 0;
	color: #fff;
}
.last{
	background-color: oldlace;
}
.last-text{
	display: flex;
	justify-content: space-around;
	padding: 30px;
}
.icons2 .fab{
	color: grey;
	font-size: 30px;
	margin-right: 50px;
}
.last-text .number{
color: #5b41d0;
font-weight: bold;
font-size: 20px;
}
.last{
	background: snow;
	background-image:
	  radial-gradient(gray 10%, transparent 0), 
	  radial-gradient(gray 10%, transparent 0);
	background-size: 10px 10px;
	background-position: 0 0, 15px 15px;
  }
.heading .icons i{
	background-color: white;
	 padding: 15px;
	  box-shadow: 15px 15px 10px rgba(91,65,208,0.07);
	  color: #5b41d0;
}
.third .fab{
	border: 3px solid purple; 
	padding: 15px;
}
.last-text .icons2 .fa-github{
color: crimson;
}


  #navbar {
	z-index: 1;
	margin-left: 150px;
  }
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
  }
  #navbar a:hover {
	background-color: #ddd;
	color: black;
  }
  .sticky {
	position: fixed;
	top: 0;
	width: 50%;
	background-color: #5b41d0;
  }
  
